body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

#startBtn {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 20px;
  font-size: 16px;
}
